#list{
    display:flex;
    flex-wrap: wrap;
    gap: 70px;
    font-size: 30px;
    margin-left:100px
}

.ship-card{
    border: 1px solid;
    width: 350px;
    display: flex;
    justify-content: center;
    padding-top: 90px;
    height: 200px;
    background-color: rgb(12, 63, 47);
    color: white;
    border-radius: 15px;
    text-align: center;
}

#page{
    color: white;
    text-decoration: none;
}